<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="pl.codesharks.alcohol"
          android:versionCode="12"
          android:versionName="@string/AppVersion">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="19" tools:ignore="OldTargetApi"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- for dialogs -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!--    <uses-permission android:name="android.permission.WAKE_LOCK"/>-->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <!-- for reading phone numbers -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
            android:name="pl.codesharks.alcohol.activity.AlcoApplication"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/AppTheme"
            android:hardwareAccelerated="true"
            android:allowBackup="true"
            >
        <!-- MAIN DATABASE -->
        <activity
                android:name="pl.codesharks.alcohol.activity.MainDBActivity"
                android:label="@string/alcohol_list"
                android:launchMode="singleTask"
                android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!-- USER DATABASE -->

        <activity
                android:name="pl.codesharks.alcohol.activity.UserDBActivity"
                android:label="@string/my_proposals"
                android:launchMode="standard">
            <!--      android:parentActivityName=".ui.MainListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.MainListActivity"/>-->
        </activity>

        <!-- EDITOR -->

        <activity
                android:name="pl.codesharks.alcohol.activity.EditorActivity"
                android:label="@string/editor"
                android:parentActivityName="pl.codesharks.alcohol.activity.UserDBActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="pl.codesharks.alcohol.activity.UserDBActivity"/>
        </activity>


        <!-- PREFERENCES -->

        <activity
                android:name="pl.codesharks.alcohol.activity.PrefsActivity"
                android:label="@string/settings"
                android:theme="@style/PreferenceScreen">
        </activity>

        <!-- PREFERENCES -->

        <activity
                android:name="pl.codesharks.alcohol.activity.AboutActivity"
                android:label="@string/about_app">
        </activity>

        <!--    LOGIN    -->

        <activity
                android:name="pl.codesharks.alcohol.activity.LoginActivity"
                android:label="@string/login_activity">
        </activity>
        <!--    PROFILE VIEWER    -->

        <activity
                android:name="pl.codesharks.alcohol.activity.ProfileViewActivity"
                android:label="@string/profile_title">
        </activity>

        <!--TODO: PROFILE EDITOR -->


        <!--    REGISTER    -->

        <activity
                android:name="pl.codesharks.alcohol.activity.RegisterActivity"
                android:label="@string/register_title">
        </activity>

        <!--    BUG REPORT    -->

        <activity
                android:name="pl.codesharks.alcohol.activity.ReportBugActivity"
                android:label="@string/pref_report_issue"
                android:windowSoftInputMode="stateUnchanged">
        </activity>

        <!--    ALCOHOL INFO    -->

        <activity
                android:name="pl.codesharks.alcohol.activity.AlcoholInfoActivity"
                android:label="@string/info">
        </activity>

        <!--    MORE RATINGS    -->

        <activity
                android:name="pl.codesharks.alcohol.activity.MoreRatingsActivity"
                android:label="@string/more_ratings_title">
        </activity>

        <!-- UPDATER -->

        <activity
                android:name="pl.codesharks.alcohol.dialog.UpdaterDialog"
                android:theme="@style/AppDialogTheme.Custom"
                android:excludeFromRecents="true">
        </activity>

        <!-- Updater SERVICE -->
        <service android:name="pl.codesharks.alcohol.service.UpdaterIntentService">
        </service>
        <!-- On screen Logger SERVICE -->
        <service android:name="com.inaka.galgo.GalgoService"/>
        <!-- HUD SERVICE -->

        <service android:name="pl.codesharks.alcohol.service.HUDService">
        </service>

        <!-- Outgoing call receiver -->
        <receiver android:name="pl.codesharks.alcohol.receiver.CallShortcut">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>